/* --------------------------------------

	Blog Pages

----------------------------------------- */

.blog-posts {
  margin-top: 40px;
}
.post {
  border: $border;
  background-color: #cccccc;
  margin-bottom: 40px;
}

.post-banner {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-bottom: 1px solid #111;
}

.post-title,
.post-body {
  color: #444;
  padding-left: 25px;
  padding-right: 25px;
}

.post-title {
  font-size: 4em;
  margin-top: 30px;
  margin-bottom: 25px;
}

.post-title:hover {
  color: $primary-color;
}

.post-body {
  margin-top: 20px;
  font-size: 1.6em;
  font-family: "Exo 2", sans-serif;
}

.post-footer {
  background-color: $primary-color;
  border-radius: 5px;
  margin: 30px 25px;
  padding: 15px;
}

.read-more,
.post-meta-info {
  display: inline-block;
  font-size: 1.2em;
}

.read-more:hover {
  color: #111;
}

.post-meta-info {
  float: right;
}

.iframe-wrapper {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.post-table {
  width: 100%;
  margin: 40px 0px;
}

.post-table caption {
  font-size: 2em;
  font-family: "Lato", sans-serif;
  margin-bottom: 30px;
}

.post-table td,
.post-table th {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  padding-top: 15px;
}

.post-table th {
  font-size: 1.1em;
  color: $primary-color;
  font-weight: bold;
}
