$primary-color: #800b80;

$color-transition: color 0.45s ease;
$fill-transition: fill 0.45s ease;

$text-font: "Exo 2", sans-serif;
$heading-font: "Dosis", sans-serif;

$border-color: #000;
$border: 1px solid $border-color;
