/* --------------------------------------

  Header - Page header and navigation

-------------------------------------- */

.App-header {
  grid-row-start: 1;
  grid-column-start: 1;
}

.logo img {
  width: 64px;
  height: 64px;
}

nav {
  display: flex;
}

nav ul {
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
}

nav li {
  display: inline;
  padding-left: 25px;
}

.nav-link {
  font-size: 1.8em;
  font-family: "Exo 2";
  padding-bottom: 5px;
}

.active {
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
}

@media (min-width: 448px) {
  .App-header {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}
