/* --------------------------------------

Layout - Page structure and alignment

-------------------------------------- */
#root {
  height: 100vh;
}

.App {
  background-image: url(../images/laptop-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App,
.blur {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.blur {
  background-color: #111111cc;
}

.container {
  display: grid;
  grid-template-rows: 65px auto 65px;
  grid-template-columns: auto;
  padding: 24px;
  position: relative;
  height: 100%;
  margin: auto;
  z-index: 5;
}

.content {
  grid-row-start: 2;
  grid-column-start: 1;
  align-self: center;
  justify-self: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.left {
  float: left;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

@media (min-width: 448px) {
  .container {
    grid-template-rows: 24px 65px auto 65px 24px;
    grid-template-columns: 48px auto 48px;
    padding: 0;
  }
  .content {
    grid-row-start: 3;
    grid-column-start: 2;
  }
}
