/* --------------------------------------

Layout - Page structure and alignment

-------------------------------------- */
.App {
  background-image: url(../images/laptop-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App,
.blur {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.blur {
  background-color: #111111cc;
}

.container {
  padding: 24px 32px;
  position: relative;
  height: 100%;
  margin: auto;
  z-index: 5;
}

.content {
  max-width: 960px;
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.left {
  float: left;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
