/* --------------------------------------

Text - Size & style

-------------------------------------- */
html {
  font-size: 10px;
}

.logo,
a,
p,
h1,
h2,
h3,
h4 {
  color: #ccc;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  transition: color 0.45s ease;
}

.logo {
  font-family: "Exo 2", sans-serif;
}

a:hover {
  color: $primary-color;
}

.primary {
  color: $primary-color;
}

.red {
  color: red;
}

.name {
  display: inline;
  font-size: 8.8em;
}

.jumbotron {
  /*text-align: center;*/
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  h2,
  h3 {
    font-size: 1.6em;
    font-family: $text-font;
  }
}

.service-description {
  text-align: right;
  margin-bottom: 60px;
}

.job-description {
  padding-left: 4px;
}

.cta-btn {
  display: block;
}

.cta-link {
  display: block;
  margin: 0 auto;
  width: 140px;
  color: #ccc;
  padding: 10px 10px;
  border: 1px solid $primary-color;
  background: none;
  font-size: 1.6em;
  font-family: $heading-font;
  text-align: center;
  background-color: $primary-color;
}

.cta-link:hover {
  background-color: #cccccc;
  border-color: #cccccc;
  transition: 0.5s;
  cursor: pointer;
}
