/* --------------------------------------

  Portfolio Page

-------------------------------------- */

.portfolio {
  margin-bottom: 100px;
  padding: 0 15px;
  margin-top: 250px;
}

.portfolio-title {
  font-size: 4em;
}

.portfolio-items {
  max-width: 100%;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-item {
  margin-top: 40px;
  border: 1px solid #cccccccc;
  display: inline-block;
  width: 47%;
  height: 240px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.portfolio-item-text {
  height: 210px;
  width: 90%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #11111188;
  text-align: right;
  padding: 15px 5%;
}

.portfolio-item:hover .portfolio-item-text {
  opacity: 1;
}

.portfolio-item-text h2 {
  margin-top: 150px;
  font-size: 2em;
}

.portfolio-item-text p {
  margin-top: 10px;
  font-family: "Exo 2", sans-serif;
}

.first-work {
  margin-right: 5%;
  background-image: url(../images/portfolio-site.jpg);
}

.next-work {
  background-image: url(../images/question-mark.png);
}
