.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #282c34;
  color: #6c5b7b;
}

.App-header {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: calc(6px + 1.5vmin);
  padding: calc(5px + 3vmin) calc(20px + 3vmin);
}

.logo {
  justify-self: start;
}

.logo-link,
.nav-link {
  text-decoration: none;
}

.nav-link {
  color: aliceblue;
}

.active,
.logo-link,
.nav-link :hover {
  color: #6c5b7b;
}

.site-nav {
  justify-self: end;
  margin: 0;
}

.site-nav li {
  display: inline-block;
  padding-left: 20px;
}

.content {
  align-self: center;
  background-color: black;
}
